name: Mirror BOM Radar Image

on:
  schedule:
    # Runs every hour
    - cron: '0 * * * *'
  workflow_dispatch: # Allows manual triggering of the workflow

permissions:
  contents: write

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v1

      - name: Install dependencies
        run: uv sync

      - name: Download image
        run: |
          # If using Python
          uv run python bom_radar_scraper.py
          # If using Bash
          # ./bom_radar_scraper.sh

      - name: Filter image
        run: |
          # If using Python
          uv run python filter_radar_image.py
          # If using Bash
          # ./filter_radar_image.py

      - name: Join animated radar
        run: |
          uv run bom_animated_radar_scraper.py -a vertical

      - name: Check for changes
        id: git_status
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          git add bom_radar.gif bom_radar_filtered.gif bom_radar_vertical_animated.gif
          git diff --staged --quiet || echo "changes_detected=true" >> $GITHUB_OUTPUT

      - name: Commit and push changes
        if: steps.git_status.outputs.changes_detected == 'true'
        run: |
          git commit -m "Update radar image (automated)"
          git push
